{% extends 'base.html' %}
{% block content %}
<div class="row py-5">
      <div class="col-md-9 col-lg-5 mx-5 ">
        <h1 class="fw-light">О нас</h1>
        <p class="lead text-muted">А также представители современных социальных резервов, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Не следует, однако, забывать, что глубокий уровень погружения в значительной степени обусловливает важность своевременного выполнения сверхзадачи.</p>
        <h2 class="fw-light">Наша история</h2>
        <p class="lead text-muted">Есть над чем задуматься: тщательные исследования конкурентов призывают нас к новым свершениям, которые, в свою очередь, должны быть представлены в исключительно положительном свете. Многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок!</p>
      </div>
        <div class="col-md-6 lg-5 mx-auto">
        <h1 class="fw-light">Наше местоположение</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7679.7084945122315!2d27.58971191854978!3d53.9123129341366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfaf1d38974b%3A0x3d097c7a85e0db13!2z0JHQk9Cj0JjQoCwg0LrQvtGA0L_Rg9GBIOKEliA0!5e0!3m2!1sru!2sby!4v1638594402109!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
{% endblock %}