{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="col-md-9 py-5 mx-auto ">
        <h1 class="fw-light">SHOP FAQ</h1>
        <h2 class="fw-light">WHEN WILL MY ORDER SHIP?</h2>
        <p class="fw-light">All in-stock orders typically ship within 1-2 business days via USPS MAIL. Direct to Garment (DTG) and other print-on-demand items usually ship in 4-5 days (BUT fulfillment has been backed up due to COVID, so wait times may be longer than normal). You should receive an email once your item has shipped along with tracking info. It may take some time for the post office to scan and receive it. If your package is lost, stolen, or damaged in transit. Contact us and we will replace those items.</p>
        <h2 class="fw-light">WHEN WILL MY ORDER SHIP?</h2>
        <p class="fw-light">All in-stock orders typically ship within 1-2 business days via USPS MAIL. Direct to Garment (DTG) and other print-on-demand items usually ship in 4-5 days (BUT fulfillment has been backed up due to COVID, so wait times may be longer than normal). You should receive an email once your item has shipped along with tracking info. It may take some time for the post office to scan and receive it. If your package is lost, stolen, or damaged in transit. Contact us and we will replace those items.</p>

</div>
{% endblock %}